@use './variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background: $color-white;
  color: $color-text-strong;
}
